<div *ngIf="!loading" class="cart-popover" (click)="$event.stopPropagation()">
  <mat-list>
    <h3 mat-subheader>{{'toolbar.cart' | translate}}</h3>
    <mat-list-item>
      <p mat-line class="margin-bottom-10">{{'cart.subtotal' | translate}}:
        <span class="price">{{getCurrency(subTotal)}}</span>
      </p>
      <button mat-line mat-flat-button color="primary" class="margin-bottom-20"
              [disabled]="productsInCart?.length <= 0" (click)="checkout()">{{'cart.checkout' | translate}}
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <app-product [gridView]="false" [productsList]="productsInCart" [isCart]="true"></app-product>
  </mat-list>
</div>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
